/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* padding top by nav height */
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.badge-lg {
  font-size: 18px;
  padding: 8px 8px;
}

.panel-heading .badge {
  background-color: #777 !important;
  margin-top: -2px;
  margin-left: 6px;
}

.panel-heading .badge-lg {
  margin-top: -3px;
  margin-left: 12px;
}

.panel-heading-collapse {
  cursor: hand;
}
